.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #6300b7;
  overflow-y: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.welcome::-webkit-scrollbar {
  display: none; 
}

.welcome-l {
  width: 100%;
  height: auto;
}

.welcome-l > img {
  width: 95%;
  height: auto;
  padding: 2rem;
}

.welcome-r {
  width: 100%;
  padding: 2rem 1rem;
  font-family: cursive;
  color: aliceblue;
  text-align: center;
}

.welcome-r > h1 {
  font-size: 2rem;
}

.login {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login > h2 {
  font-size: 1.5rem;
}

.login > p {
  font-size: 1rem;
}

.login > form {
  width: 90%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 0.5rem;
}

.form-group > input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

.form-group > input:focus {
  outline: none;
}

.submit {
  color: #6300b7;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  font-family: cursive;
  font-size: 1rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  .welcome {
    flex-direction: row;
    overflow-y: hidden; 
  }

  .welcome-l {
    width: 50%;
    height: 100%;
  }

  .welcome-r {
    width: 50%;
    padding: 2rem 5rem;
    text-align: left;
  }

  .welcome-r > h1 {
    font-size: 3rem;
  }

  .login > h2 {
    font-size: 2rem;
  }

  .login > form {
    width: 70%;
  }
}

