.continue {
  width: 100%;
  height: 100%;
  background-color: #ff3d46;
  display: flex;
}

.continue-l {
  height: 100%;
}

.continue-l > img {
  height: 100%;
}

.continue-r {
  flex: 1;
  height: 100%;
  background-color: #ff3d46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  color: aliceblue;
  gap: 1rem;
}

.continue-r > h1 {
  font-size: 3rem;
}

.continue-r > p {
  font-size: 2rem;
  text-align: center;
}

.continue-btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: #ff3d46;
  font-weight: bold;
  font-size: 1rem;
  margin: 2rem;
}
