.mcquiz {
  display: flex;
  flex-direction: column;
  background: #b87f52;
  color: white;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mcquiz-header {
  align-self: flex-start;
  margin-bottom: 10px;
}

.mcquiz-header h1 {
  font-size: 2em;
  font-family: cursive;
  margin: 0;
}

.mcquiz-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mcquiz-l {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mcquiz-l img {
  width: 550px; 
  height: auto;
}

.mcquiz-r {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.mcquiz-r h1 {
  font-size: 4em;
  margin-bottom: 30px;
  font-family: cursive;
}

.mcquiz-r p {
  font-size: 2em;
  margin-bottom: 40px;
}

.mc-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mc-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mc-small-btn {
  background: linear-gradient(45deg, #764824, #764824);
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1.4em;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mc-small-btn:hover {
  background: linear-gradient(45deg, #764824, #764824);
  transform: translateY(-2px);
}

.mc-option span {
  font-size: 1.2em;
  font-family: cursive;
}
